<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <a href="http://www.cruxhs.com" target="_blank"><%= image_tag "cruxhs2.jpg" %></a><a href="https://www.facebook.com/Compuway-Ouro-Preto-942638149144198/" class="btn btn-social-icon btn-facebook"  target="_blank" onclick="_gaq.push(['_trackEvent', 'btn-social-icon', 'click', 'btn-facebook']);"><span href="https://www.instagram.com/superar_op/" class="fa fa-facebook"></span></a>
                <a class="btn btn-social-icon btn-instagram" target="_blank" onclick="_gaq.push(['_trackEvent', 'btn-social-icon', 'click', 'btn-instagram']);"><span class="fa fa-instagram"></span></a>
            </div>
        </div>
    </div>
</footer>
