<div class="imgCapa" style="top: -130px;"><center><%= image_tag "superar.gif", :class => "img-responsive"  %></center>
</div>
<div class="address-bar" style="color: black; top: -130px;">
    <a href="https://www.facebook.com/Compuway-Ouro-Preto-942638149144198/" class="btn btn-social-icon btn-facebook"  target="_blank" onclick="_gaq.push(['_trackEvent', 'btn-social-icon', 'click', 'btn-facebook']);"><span href="https://www.instagram.com/superar_op/" class="fa fa-facebook"></span></a><a class="btn btn-social-icon btn-instagram" target="_blank" onclick="_gaq.push(['_trackEvent', 'btn-social-icon', 'click', 'btn-instagram']);"><span class="fa fa-instagram"></span></a>Centro Profissionalizante | <span id="data" style="word-wrap: break-word;"></span> | <span id="hora"></span>
</div>
