<section class="well well2 bg3">
  <div class="container">
    <h2>
    BARBEIRO
    </h2>
      <div class="row offs1">
        <div class="col-md-6 col-sm-12">
          <p>
            <h5>Descrição:</h5>
            <span style="color:black; font-size: 16px; font-weight: bold;">O curso de barbeiro visa capacitar o aluno a se tornar um profissional capaz de utilizar técnicas básicas aplicadas em uma barbearia, visando atender a plena satisfação do cliente.</span>
          </p><br>
            <h5>Metodologia:</h5>
              <span style="color:black; font-size: 16px;">Totalmente presenciais e contam com professores que atuam diretamente na área, no decorrer do curso os alunos têm acesso a aulas teóricas que são conciliadas com a prática, além de visitas técnicas e estágio supervisionado. O aluno que participa desta modalidade também conta com a extensão, que nada mais é que, palestras e rodas de conversa sobre assuntos que agreguem a área de atuação que escolheram <br></span>
              <br>
              <h5>O SUPERAR CENTRO PROFISISONALIZANTE DISPÕE DE SALÃO ESCOLA TOTALMENTE EQUIPADO PARA AS PRÁTICAS DESSE CURSO.</h5><br>
        </div>
          <div class="col-md-6 col-sm-12">
            <p><br><br>
              <h5>Conteúdo:</h5>
              <span style="color:black; font-size: 16px;">Barba em máquina e navalha, conceitos de visagismo na execução de diversos cortes de cabelos, corte masculino com desenhos tribais, cortes masculinos com técnica, diferença entre cabeleireiro e barbearia, equipamentos, modelagem e raspagem dos pelos da barba, bigode, cavanhaque e costeletas e o corte de cabelo x barba.</span><br><br>

              <h5>Tempo de curso: 72h (6 meses) + estágio.</h5>
            </p>
          </div>
    </div>
  </div>
</section>

<section class="well well4 bg1 wow fadeIn animated" data-wow-duration="3s" style="visibility: visible; animation-duration: 3s; animation-name: fadeIn;">
    <div class="container center991">
        <div class="login-body">
            <article class="container-login center-block">
              <div class="tab-content tabs-login col-lg-12 col-md-12 col-sm-12 cols-xs-12">
                <div id="login-access" class="tab-pane fade active in">
                  <i class="glyphicon glyphicon-log-in"></i> <span style="color:black; font-size: 20px;">TEMOS UMA CONDIÇÃO ESPECIAL! CADASTRE-SE </span>
                    <%= link_to 'AQUI', new_ouro_preto_cadastro_path, :class => 'btn btn-primary bnt-lg' %>
                </div>
              </div>
          </article>
        </div>
    </div>
</section>
