<section class="well well2 bg3">
  <div class="container">
    <h2>
    WEB DESIGN
    </h2>
      <div class="row offs1">
        <div class="col-md-6 col-sm-12">
          <p>
            <h5>Descrição:</h5>
            <span style="color:black; font-size: 16px; font-weight: bold;">Este curso levará ao conhecimento da linguagem HTML – linguagem de marcação utilizada no desenvolvimento de páginas, agregado aos recursos das folhas de estilo CSS que aperfeiçoarão a aparência das suas páginas Web; Flash - crie animações impressionantes para seus trabalhos e chame a atenção de seus clientes; Dreamweaver - uma poderosa ferramenta que aperfeiçoará a construção de suas páginas. Na parte avançada de desenvolvimento irá utilizar-se de poderosas ferramentas de programação estruturada para web integrada a banco de dados e apoiado na lógica de programação, tornando o aluno um profissional ainda mais completo para o mercado.
            </span>
          </p>
          <p>
          <h5>Pré-requisito:</h5>
            <span style="color:black; font-size: 16px; font-weight: bold;">Conhecimento em informática.
            </span>
          </p>
          <p>
            <br>
            <h5>Metodologia:</h5>
            <span style="color:black; font-size: 16px;"><span style="color:green; font-size: 16px; font-weight: bold;">Interativa –</span> – é uma simulação do software real onde o aluno faz a aula como se fosse um exercício, interagindo com o programa. Serão realizados exercícios passo a passo com ilustrações e detalhes para que o aluno pratique o conteúdo visto na interatividade. O aluno fará exercícios mais práticos, para testar seu aprendizado na aula, sempre finalizando com teste para colocar a prova os conhecimentos.<br>
            <span style="color:green; font-size: 16px; font-weight: bold;">Expositiva –</span> é uma aula complementar com profissional atuante na área e/ou professor detentor de conhecimento na área seja para criação de projeto ou em formato de palestra.</span>
          </p><br><br>

        </div>
        <div class="col-md-6 col-sm-12">
          <p><br>
            <h5>Módulos:</h5>
              <span style="color:black; font-size: 16px;">3D Studio HTML5 + CSS3, Flash CS6, Corel Draw X6, Dreamweaver CS6, Photoshop CS6, Fireworks CS6, Illustrador CS6, PHP, Web Designer Avançado.</span><br><br>
            <h5>Áreas de atuação:</h5>
              <span style="color:black; font-size: 16px;">Desenvolvimento de animações e sites avançados, sites avançados de comércio eletrônico, publicidade empresarial ou autônoma.</span><br><br>

            <h5>Tempo de curso: Aprox. 189h.</h5><br>
            ->Observação: Todos os módulos podem ser adquiridos separadamente.<-
          </p>
        </div>
    </div>
  </div>
</section>

<section class="well well4 bg1 wow fadeIn animated" data-wow-duration="3s" style="visibility: visible; animation-duration: 3s; animation-name: fadeIn;">
    <div class="container center991">
        <div class="login-body">
            <article class="container-login center-block">
              <div class="tab-content tabs-login col-lg-12 col-md-12 col-sm-12 cols-xs-12">
                <div id="login-access" class="tab-pane fade active in">
                  <i class="glyphicon glyphicon-log-in"></i> <span style="color:black; font-size: 20px;">TEMOS UMA CONDIÇÃO ESPECIAL! CADASTRE-SE </span>
                    <%= link_to 'AQUI', new_ouro_preto_cadastro_path, :class => 'btn btn-primary bnt-lg' %>
                </div>
              </div>
          </article>
        </div>
    </div>
</section>
