<section class="well well2 bg3">
  <div class="container">
  <h2>
  INGLÊS
    <small>
      UNIVERSITÁRIO
    </small>
  </h2>
    <div class="row offs1">
      <div class="col-md-6 col-sm-12">
        <p>
          O inglês é o 2º idioma mais falado do mundo e, na sociedade cada vez mais globalizada em que vivemos, é uma língua universal. Não tem como escapar: onde quer que você vá, encontrará alguém que fale inglês.

          Assim, o conhecimento do idioma traz grandes benefícios pessoais e profissionais. Para a maioria das carreiras, aliás, o inglês é um requisito — e não mais um diferencial.
        </p>
      </div>
      <div class="col-md-6 col-sm-12">
        <p>
          <h5>Abordagem</h5>
          Visando que o público universitário procura por cada vez mais se profissionalizar a escola proporciona cursos que agreguem á diversas áreas de atuação. O objetivo principal desta
          modalidade é oferecer aos alunos praticidade e cursos de curta duração com excelência no processo de ensino-aprendizado. Para isso os alunos usam do método de aulas interativas no computador, de uso individual, onde contam com um programa de aulas que concilia aulas interativas com práticas da apostila. Caso o estudante queira pode optar por me ter aulas particulares individuais no lugar da metodologia interativa, essas aulas são planejadas de forma personalizada, onde o estudante foca no ponto em que tem mais necessidade educacional.

          <h5>Carga Horária:</h5>160 horas.</a>
        </p>
      </div>
    </div>
  </div>
</section>

<section class="well well1 well1_ins1">
    <div class="container center991">
        <div class="login-body">
            <article class="container-login center-block">
              <div class="tab-content tabs-login col-lg-12 col-md-12 col-sm-12 cols-xs-12">
                <div id="login-access" class="tab-pane fade active in">
                  <h2><i class="glyphicon glyphicon-log-in"></i> Realize um cadastro clicando</h2>
                    <%= link_to 'AQUI', new_ouro_preto_cadastro_path, :class => 'btn btn-lg btn-primary' %>
                </div>
              </div>
          </article>
        </div>
    </div>

</section>
