<section class="well well2 bg3">
  <div class="container">
  <h2>
  EXCEL AVANÇADO
    <small>
    </small>
  </h2>
    <div class="row offs1">
      <div class="col-md-6 col-sm-12">
        <p>
          O Excel é um dos softwares mais conhecido e utilizado no mundo. Trata-se de um editor de planilhas, que, em nível básico, auxilia na organização de qualquer tarefa e no avançado, vira uma poderosa ferramenta de cálculos e construção de gráficos. Com o domínio da ferramenta, você estará preparado para atuar em qualquer segmento do mercado de trabalho.

          Atualmente, o Excel é utilizado em todos os setores no mundo corporativo, seja para situações mais simples, como elaboração de planilhas para controle de estoque até para atividades mais complexas, como o gerenciamento de projetos.
        </p>
      </div>
      <div class="col-md-6 col-sm-12">
        <p>
          <h5>Área de atuação</h5>
          Interface;
          Operadores e Funções;
          Formatação de Células;
          Trabalhando com Referências;
          Algumas Outras Funções;
          Função SE;
          Função de Data e Hora;
          Planilhas 3D;
          Inserção de Objetos;
          Gráficos;
          Dados;
          Impressão;
          <h5>Carga Horária:</h5>160 horas.</a>
        </p>
      </div>
    </div>
  </div>
</section>

<section class="well well1 well1_ins1">
    <div class="container center991">
        <div class="login-body">
            <article class="container-login center-block">
              <div class="tab-content tabs-login col-lg-12 col-md-12 col-sm-12 cols-xs-12">
                <div id="login-access" class="tab-pane fade active in">
                  <h2><i class="glyphicon glyphicon-log-in"></i> Realize um cadastro clicando</h2>
                    <%= link_to 'AQUI', new_ouro_preto_cadastro_path, :class => 'btn btn-lg btn-primary' %>
                </div>
              </div>
          </article>
        </div>
    </div>

</section>
