<section class="well well2 bg3">
  <div class="container">
  <h2>
   EMPREENDEDORISMO
    <small>
    </small>
  </h2>
    <div class="row offs1">
      <div class="col-md-6 col-sm-12">
        <p>
          Empreendedor é aquele indivíduo que desenvolve a arte de empreender, de conquistar e mudar. Para ser um empreendedor a pessoa precisa aprender a exteriorizar aquilo que é e sempre foi. A palavra empreendedor, está relacionada ao seu próprio ser, ao seu ego.

          Diferente daquilo que muitas pessoas acham, empreendedores não são necessariamente aquelas pessoas que abrem um negócio próprio. Para ser um empreendedor de verdade, você precisa compreender as razões e motivações de um empreendedor, por isso todo empreendedor de sucesso deve antes compreender o seu próprio ser.
        </p>
      </div>
      <div class="col-md-6 col-sm-12">
        <p>
          <h5>Área de atuação</h5>
          O Empreendedor
          O Plano de Negócios;
          A Pesquisa de Mercado;
          O Conceito do Negócio;
          O Plano de Marketing;
          Os Fundamentos Financeiros;
          Os Fundamentos de Negócios;
          <h5>Carga Horária:</h5>160 horas.</a>
        </p>
      </div>
    </div>
  </div>
</section>

<section class="well well1 well1_ins1">
    <div class="container center991">
        <div class="login-body">
            <article class="container-login center-block">
              <div class="tab-content tabs-login col-lg-12 col-md-12 col-sm-12 cols-xs-12">
                <div id="login-access" class="tab-pane fade active in">
                  <h2><i class="glyphicon glyphicon-log-in"></i> Realize um cadastro clicando</h2>
                    <%= link_to 'AQUI', new_ouro_preto_cadastro_path, :class => 'btn btn-lg btn-primary' %>
                </div>
              </div>
          </article>
        </div>
    </div>

</section>
