<section class="well well4 bg1 wow fadeIn animated" data-wow-duration="3s" style="visibility: visible; animation-duration: 3s; animation-name: fadeIn;">
    <div class="container center991">
        <div class="caption bg1">
            <h2><i class="fa fa-id-card-o"></i><strong>UNIDADE PARCEIRA / ALUNO(A)</strong></h2>
            <p class="rights">
              <a href="https://usuario.gerencianet.com.br/segunda-via?_ga=2.135841905.1747438489.1499222549-1442541323.1499222549" target="_blank">Emissão de 2ª via de boleto</a>
              <br>
            </p>
        </div>
    </div>
</section>
