<section class="well well2 bg3">
  <div class="container">
  <h2>
  EXCEL BÁSICO
    <small>
    </small>
  </h2>
    <div class="row offs1">
      <div class="col-md-6 col-sm-12">
        <p>
          O Curso de Excel 2010 básico, é adequado tanto para pessoas que não conhecem nada do assunto quanto para os que estão apenas buscando atualização desta nova ferramenta!

          Curso indicado também, para quem deseja prestar concursos públicos, conseguir um bom emprego ou até mesmo para quem apenas deseja organizar seu controle pessoal financeiro.
        </p>
      </div>
      <div class="col-md-6 col-sm-12">
        <p>
          <h5>Área de atuação</h5>
          Interface;
          Operadores e Funções;
          Formatação de Células;
          Trabalhando com Referências;
          Algumas Outras Funções;
          Função SE;
          Função de Data e Hora;
          Planilhas 3D;
          Inserção de Objetos;
          Gráficos;
          Dados;
          Impressão;
          <h5>Carga Horária:</h5>160 horas.</a>
        </p>
      </div>
    </div>
  </div>
</section>

<section class="well well1 well1_ins1">
    <div class="container center991">
        <div class="login-body">
            <article class="container-login center-block">
              <div class="tab-content tabs-login col-lg-12 col-md-12 col-sm-12 cols-xs-12">
                <div id="login-access" class="tab-pane fade active in">
                  <h2><i class="glyphicon glyphicon-log-in"></i> Realize um cadastro clicando</h2>
                    <%= link_to 'AQUI', new_ouro_preto_cadastro_path, :class => 'btn btn-lg btn-primary' %>
                </div>
              </div>
          </article>
        </div>
    </div>

</section>
