<section class="well well4 bg1 wow fadeIn animated" data-wow-duration="3s" style="visibility: visible; animation-duration: 3s; animation-name: fadeIn;">
    <div class="container center991">
        <div class="caption bg1">
            <h2><i class="fa fa-id-card-o"></i><strong>UNIDADE PARCEIRA / PROFESSOR</strong></h2>
            <p class="rights">
              <a href="http://ead.cursodeasb.com.br/" target="_blank">Acesso a plataforma</a>
              <br>
            </p>
        </div>
    </div>
</section>
