<section class="well well1 well1_ins1">
    <div class="container center991">
        <div class="login-body">
            <article class="container-login center-block">
              <div class="tab-content tabs-login col-lg-12 col-md-12 col-sm-12 cols-xs-12">
                <div id="login-access" class="tab-pane fade active in">
                <hr>
                <h2 class="intro-text text-center">Superar
                    <strong>Centro Profissionalizante</strong>
                </h2>
                <hr>
                  <h2 class="intro-text text-center"><i class="glyphicon glyphicon-log-in"></i>_PRÉ-
                    <strong>CADASTRO</strong>
                </h2>
                <hr>
                    <%= render 'form' %>
                </div>
              </div>
          </article>
        </div>
    </div>
</section>
