<section class="well well1 well1_ins1">
    <div class="row">
        <div class="box">
            <div class="col-lg-12">
                <hr>
                <h2 class="intro-text text-center">Superar
                    <strong>Centro Profissionalizante</strong>
                </h2>
                <hr>
                <%= image_tag "superar_p.gif", :class => "img-responsive img-border img-left"  %>
                <hr class="visible-xs">
                <p>O Superar Cursos nasceu no dia 01/11/2014 nasceu de um sonho de transformar milhares de pessoas através do conhecimento. Para isso trouxe e continua trazendo novas possibilidades de cursos de diferentes seguimentos para todo público que procura ensino de qualidade e profissionalismo.</p>
                <p>O nome superar baseia-se no propósito principal dessa empresa que é promover a superação dos alunos ao despertar e reconhecer talentos. A superação, nesse contexto, baseia-se na quebra de barreiras imaginárias e de paradigmas de diversos aspectos como sociais, pessoais e intelectuais.</p>
                <p>Toda equipe da escola é engajada e participante ativa afim de criar um espaço educativo que consiste em transformar pessoas através do processo educativo e da valorização pessoal. Para isso todos os seguimentos da escola são dedicados a formar alunos que tenham confiança em si mesmo, que tenha oportunidade de crescimento profissional e social, realize seus sonhos, seja um cidadão mais crítico e politicamente ativo.</p>
                <p>Aplicamos em todos os cursos as abordagens teórica, prática e motivacional. Existe um leque de cursos que atende desde crianças até idosos, com enfoque maior nas áreas profissionalizantes.</p>
            </div>
        </div>
    </div>
</section>
<section class="well well1 well1_ins1">
    <div class="row">
        <div class="box">
            <div class="col-lg-12">
                <hr>
                <h2 class="intro-text text-center">
                    <strong>Missão</strong>
                </h2>
                <hr><center>
                <p>Despertar aptidões e reconhecer talentos por meio de conhecimento e vivência prática.</p></center>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="box">
            <div class="col-lg-12">
                <hr>
                <h2 class="intro-text text-center">
                    <strong>Visão</strong>
                </h2>
                <hr>
                <center><p>Ser referência na capacitação de pessoas e a melhor escola de cursos profissionalizantes da região dos inconfidentes.</p></center>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="box">
            <div class="col-lg-12">
                <hr>
                <h2 class="intro-text text-center">
                    <strong>Valores</strong>
                </h2>
                <hr>
                <center><p>Valorização e Respeito às Pessoas: percepção no aspecto individual e como membro da equipe.
                <p>Crescimento contínuo:  inovação e aperfeiçoamento profissional.</p>
                <p>Excelência no atendimento: proporcionar aos nossos clientes uma experiência única.</p>
                <p>Ética: Promoção de um ambiente ético e íntegro.
                Profissionalismo: Atuar com eficiência e eficácia, usando de discernimento e coerência com empatia em todas as atitudes.</p>
                <p>Iniciativa: Ser proativo, avaliar os problemas que possam surgir e resolvê-los com conhecimento, criatividade, alegria e conhecimento.</p>
                <p>Qualidade: Busca pela melhoria contínua no atendimento das necessidades e satisfação do cliente.</p>
                <p>Integração: Proporcionar e incentivar o envolvimento contínuo entre escola, família e comunidade.</p></center>
            </div>
        </div>
    </div>
</section>
