<section class="well well2 wow fadeIn  bg3" data-wow-duration='3s'>
  <div class="container">
  <a target="_blank" href="https://www.facebook.com/Compuway-Ouro-Preto-942638149144198/" class="btn btn-block btn-social btn-lg btn-facebook" onclick="_gaq.push(['_trackEvent', 'btn-social', 'click', 'btn-facebook']);">
    <span class="fa fa-facebook"></span> Curta a nossa página no Facebook
  </a><a class="btn btn-block btn-social btn-lg btn-instagram" onclick="_gaq.push(['_trackEvent', 'btn-social', 'click', 'btn-instagram']);">
        <span target="_blank" href="https://www.instagram.com/superar_op/"class="fa fa-instagram"></span> Siga-nos também no Instagran
      </a>
  <div class="bg2" style="background-color: #C8D9F4;">
    <center><h1 class="txt-pr">
    ONDE
      <small>
        nos encontrar?!
      </small></center>
  </div>
  </h1>
    <div class="row">
      <div class="col-md-6 col-sm-12">
       <center> <h2 class="intro-text text-center">Ouro
            <strong>Preto</strong></h2></center>
        </h2>
        <div class="wrap">
          <center><p>
            Na Praça Tiradentes, nº 52 (Ao lado do Banco Bradesco) - Centro.
            <br>(31)3552-4084 / (31)9-8621-4084 (wpp)
          </p></center>
        </div>
       <center><h2 class="intro-text text-center">Cachoeira
            <strong>do Campo</strong></center>
        </h2>
        <div class="wrap">
          <center><p>
            Rua Padre Afonso Lemos, nº 20, sala 3.
          </p>
          <p>
            (31)9-8849-7723 (wpp)
          </p></center>
      </div>
    </div>
  </div>
</section>
