<section class="well well2">
  <div class="container">
    <h2>
      nossos
      <small>
        PARCEIROS
      </small>
    </h2>

    <div class="row offs1">
      <ul class="flex-list">
        <li class="col-lg-3 col-sm-3 col-xs-6">
          <a href="www.vitaderm.com.br">
            <%= image_tag "vita-derm.png" %>
          </a>
        </li>
        <li class="col-lg-3 col-sm-3 col-xs-6">
          <a href="www.fundacaoaleijadinho.com.br">
            <%= image_tag "aleijadinho.jpg" %>
          </a>
        </li>
        <li class="col-lg-3 col-sm-3 col-xs-6">
          <a href="www.cruxhs.com">
            <%= image_tag "cruxhsP.jpg" %>
          </a>
        </li>

    </div>

  </div>
</section>
