<section class="well well2 bg3">
  <div class="container">
  <h2>
   AutoCAD
    <small>
    </small>
  </h2>
    <div class="row offs1">
      <div class="col-md-6 col-sm-12">
        <p>
          O AutoCAD é uma ferramenta de desenho técnico. É diferente de um programa de desenho artístico (como o Illustrator CC, Photoshop ou Corel Draw) por preservar todas as proporções e escalas do desenho. É utilizado principalmente para a elaboração de peças de desenho técnico em duas dimensões (2D) e para criação de modelos tridimensionais (3D). Além dos desenhos técnicos, o software vem disponibilizando, em suas versões mais recentes, vários recursos para visualização em diversos formatos.
        </p>
      </div>
      <div class="col-md-6 col-sm-12">
        <p>
          <h5>Área de atuação</h5>
          É amplamente utilizado em arquitetura, design de interiores, engenharia civil, engenharia mecânica e em vários outros ramos.
          <h5>Carga Horária:</h5>160 horas.</a>
        </p>
      </div>
    </div>
  </div>
</section>

<section class="well well1 well1_ins1">
    <div class="container center991">
        <div class="login-body">
            <article class="container-login center-block">
              <div class="tab-content tabs-login col-lg-12 col-md-12 col-sm-12 cols-xs-12">
                <div id="login-access" class="tab-pane fade active in">
                  <h2><i class="glyphicon glyphicon-log-in"></i> Realize um cadastro clicando</h2>
                    <%= link_to 'AQUI', new_ouro_preto_cadastro_path, :class => 'btn btn-lg btn-primary' %>
                </div>
              </div>
          </article>
        </div>
    </div>

</section>
