<section class="well well2 bg3">
  <div class="container">
    <h2>
    ESTÉTICA
      <small>
        FACIAL e CORPORAL
      </small>
    </h2>
      <div class="row offs1">
        <div class="col-md-6 col-sm-12">
          <p>
            <h5>Descrição:</h5>
            <span style="color:black; font-size: 16px; font-weight: bold;">O curso de estética facial e corporal visa formar profissionais competentes para atuar na área e para o mercado de trabalho, visando o embelezamento, a proteção da saúde, a melhora da autoestima e a qualidade de vida do indivíduo.</span>
          </p><br>
            <h5>Metodologia:</h5>
              <span style="color:black; font-size: 16px;">Totalmente presenciais e contam com professores que atuam diretamente na área, no decorrer do curso os alunos têm acesso a aulas teóricas que são conciliadas com a prática, além de visitas técnicas e estágio supervisionado. O aluno que participa desta modalidade também conta com a extensão, que nada mais é que, palestras e rodas de conversa sobre assuntos que agreguem a área de atuação que escolheram cursar.<br></span>
              <br>
              <h5>O SUPERAR CENTRO PROFISISONALIZANTE DISPÕE DE SALÃO ESCOLA TOTALMENTE EQUIPADO PARA AS PRÁTICAS DESSE CURSO.</h5><br>
        </div>
          <div class="col-md-6 col-sm-12">
            <p><br><br>
              <h5>Conteúdo:</h5>
              <span style="color:black; font-size: 16px;">Classificação e avaliação da pele, tipos de pele, biossegurança e higiene pessoal, materiais e equipamentos utilizados, cosméticos, limpeza de pele, hidratação e permeabilidade cutânea, alterações cutâneas, massofilaxia, peeling, gordura localizada, celulite, flacidez, estrias, banho de lua, esfoliação e hidratação.</span><br><br>

              <h5>Tempo de curso: 72h (6 meses) + estágio.</h5>
            </p>
          </div>
    </div>
  </div>
</section>

<section class="well well4 bg1 wow fadeIn animated" data-wow-duration="3s" style="visibility: visible; animation-duration: 3s; animation-name: fadeIn;">
    <div class="container center991">
        <div class="login-body">
            <article class="container-login center-block">
              <div class="tab-content tabs-login col-lg-12 col-md-12 col-sm-12 cols-xs-12">
                <div id="login-access" class="tab-pane fade active in">
                  <i class="glyphicon glyphicon-log-in"></i> <span style="color:black; font-size: 20px;">TEMOS UMA CONDIÇÃO ESPECIAL! CADASTRE-SE </span>
                    <%= link_to 'AQUI', new_ouro_preto_cadastro_path, :class => 'btn btn-primary bnt-lg' %>
                </div>
              </div>
          </article>
        </div>
    </div>
</section>
