<section class="well well2 bg3">
  <div class="container">
    <h2>
    INFORMÁRICA
      <small>
        SUPERIDADE
      </small>
    </h2>
      <div class="row offs1">
        <div class="col-md-6 col-sm-12">
          <p>
            <h5>Descrição:</h5>
            <span style="color:black; font-size: 16px; font-weight: bold;">Personalizada e dinâmica focada na individualidade educacional do aluno. Dentro dessa modalidade a escola trabalha com o objetivo principal de proporcionar ao aluno maior independência no uso do computador dentro de seu cotidiano, proporcionando assim que o aluno saia do curso sabendo sobre a história do computador e sua evolução ao longo do tempo, apto a mexer nos programas básicos do Pacote Office da Microsoft,  a navegar na internet, usar redes sociais no computador e no celular e apto também a utilizar de tecnologias oferecidas nos smartphones, como o WhatsApp, por exemplo.<br>
            Para as aulas práticas os alunos contam com um computador individual, onde desenvolvem aulas com práticas usuais no cotidiano. Durante o curso são abordadas atividades motivacionais e de integração dos alunos. </span>
          </p><br>
        </div>
          <div class="col-md-6 col-sm-12">
            <p><br><br>
              <h5>Conteúdo:</h5>
              <span style="color:black; font-size: 16px;">Windows, Word, Excel, Power Point, Internet e Redes Sociais.</span><br><br>
              <h5>Público:</h5>
              <span style="color:black; font-size: 16px;">Adultos de 50 a 70 anos.</span><br><br>
              <h5>Metodologia:</h5>
              <span style="color:black; font-size: 16px;">Expositiva e 100% prática (metodologia exclusiva Superar).</span><br><br>

              <h5>Tempo de curso: 8 meses por módulo.</h5>
            </p>
          </div>
    </div>
  </div>
</section>

<section class="well well4 bg1 wow fadeIn animated" data-wow-duration="3s" style="visibility: visible; animation-duration: 3s; animation-name: fadeIn;">
    <div class="container center991">
        <div class="login-body">
            <article class="container-login center-block">
              <div class="tab-content tabs-login col-lg-12 col-md-12 col-sm-12 cols-xs-12">
                <div id="login-access" class="tab-pane fade active in">
                  <i class="glyphicon glyphicon-log-in"></i> <span style="color:black; font-size: 20px;">TEMOS UMA CONDIÇÃO ESPECIAL! CADASTRE-SE </span>
                    <%= link_to 'AQUI', new_ouro_preto_cadastro_path, :class => 'btn btn-primary bnt-lg' %>
                </div>
              </div>
          </article>
        </div>
    </div>
</section>
