<section class="well well2 bg3">
  <div class="container">
    <h2>
    PROGRAMADOR FULL WEB e MOBILE
    </h2>
      <div class="row offs1">
        <div class="col-md-6 col-sm-12">
          <p>
            <h5>Descrição:</h5>
            <span style="color:black; font-size: 16px; font-weight: bold;">O aluno nesse curso aprenderá a desenvolver sistemas web tanto com Java como PHP, também desenvolverá aplicativos para dispositivos móveis. O aluno contara com conhecimentos em 3 linguagens que estão entre as mais utilizadas, transformando o aluno em um profissional Web completo. Deixe sua imaginação falar mais alto e crie, invente e  transforme a vida de mais empresas, desenvolvendo os mais diversos softwares, de acordo com a necessidade do cliente ou empresa.

            </span>
          </p>
          <p>
            <br>
            <h5>Metodologia:</h5>
            <span style="color:black; font-size: 16px;"><span style="color:green; font-size: 16px; font-weight: bold;">Interativa –</span> – é uma simulação do software real onde o aluno faz a aula como se fosse um exercício, interagindo com o programa. Serão realizados exercícios passo a passo com ilustrações e detalhes para que o aluno pratique o conteúdo visto na interatividade. O aluno fará exercícios mais práticos, para testar seu aprendizado na aula, sempre finalizando com teste para colocar a prova os conhecimentos.<br>
            <span style="color:green; font-size: 16px; font-weight: bold;">Expositiva –</span> é uma aula complementar com profissional atuante na área e/ou professor detentor de conhecimento na área seja para criação de projeto ou em formato de palestra.</span>
          </p><br><br>

        </div>
        <div class="col-md-6 col-sm-12">
          <p><br>
            <h5>Módulos:</h5>
              <span style="color:black; font-size: 16px;">Lógica de Programação Orientada a Objetos, UML, Banco de dados, Java Web, Programador Mobile, PHP.</span><br><br>
            <h5>Áreas de atuação:</h5>
              <span style="color:black; font-size: 16px;">Empresas de telefonia móvel, desenvolvimento de softwares e games, profissionais de carreira ou autônomos.</span><br><br>

            <h5>Tempo de curso: Aprox. 107h.</h5><br>
            ->Observação: Todos os módulos podem ser adquiridos separadamente.<-
          </p>
        </div>
    </div>
  </div>
</section>

<section class="well well4 bg1 wow fadeIn animated" data-wow-duration="3s" style="visibility: visible; animation-duration: 3s; animation-name: fadeIn;">
    <div class="container center991">
        <div class="login-body">
            <article class="container-login center-block">
              <div class="tab-content tabs-login col-lg-12 col-md-12 col-sm-12 cols-xs-12">
                <div id="login-access" class="tab-pane fade active in">
                  <i class="glyphicon glyphicon-log-in"></i> <span style="color:black; font-size: 20px;">TEMOS UMA CONDIÇÃO ESPECIAL! CADASTRE-SE </span>
                    <%= link_to 'AQUI', new_ouro_preto_cadastro_path, :class => 'btn btn-primary bnt-lg' %>
                </div>
              </div>
          </article>
        </div>
    </div>
</section>
